@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
:root {
  --bg0: #000000;
  --bg1: #101014;
  --bg2: #17181E;
  --fg0: #25282C;
  --fg1: #2B2A33;
  --fg2: #404854;
  --gld0: #41361D;
  --gld1: #AE9500;
  --gld2: #F7A600;
  --green: #20B26C;
  --red: #EF454A;
  --accent: #FFFFFF;
}
body {
	background-color: var(--bg0);
	color: var(--accent);
	font-family: monospace;
}

table {
	color: var(--gld1);
	padding: 12px;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
th, td {
  border-bottom: 1px solid var(--bg0);
  text-align: center;
}

tr:nth-child(even) {background-color: var(--bg2);}

.trdr {
	width: 600px;
	margin: 16px auto;
	font-size: 14px;
}
.trdr p {
	color: var(--gld2);
}
.trdr-header, .trdr p {
	margin-top: 0;
	margin-bottom: 0;
}

.trdr-triangle {
	width: 0;
	margin-right: auto;
	margin-left: auto;
	border: 12px solid transparent;
	border-bottom-color: var(--bg2);
}

.trdr-header {
	background: var(--bg2);
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	color: var(--gld1);
}

.trdr-container {
	background: var(--bg1);
	padding: 12px;
	display: inline-block;
	width: 96%;
}

.trdr-input {
	box-sizing: border-box;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 0.7rem;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
	color: var(--gld2);
}

.trdr p {
	padding: 12px;
	width: 96%;
}

.trdr a {
	text-align: center;
}

.trdr a:link {
	text-decoration: none;
}

.trdr input[type="email"], .trdr input[type="password"], .trdr input[type="text"], .trdr input[type="file"], .trdr a {
	background: var(--fg2);
	border-color: transparent;
	color: var(--gld2);
}

.trdr input[type="email"]:focus, .trdr input[type="password"]:focus,
	.trdr a:focus {
	border-color: var(--gld0);
}

.trdr input[type="submit"], .trdr input[type="button"], .trdr a {
	background: var(--fg1);
	border-color: transparent;
	color: var(--gld1);
	cursor: pointer;
}

.trdr label {
	color: var(--accent);
}
.trdr-browse {
	position: relative;
	width: 96%;
 	left: 2%;
}
.trdr-btn-browse {
	position: absolute;
	z-index: 1;
	coursor: "pointer";
	top: 0;
	left:0;
	width:100%;
}

.trdr input[type="file"] {
	position: absolute;
	-moz-opacity:0 ;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	coursor: "pointer";
	top: 0;
	left:0;
	width:100%;
}

.trdr input[type="submit"], .trdr input[type="button"], .trdr a {
	:hover { background:var(--accent);}
}

.trdr input[type="submit"], .trdr input[type="button"], .trdr a {
	:focus { border-color:var(--gld0);}
}