@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
:root {
  --bg0: #000000;
  --bg1: #101014;
  --bg2: #17181E;
  --fg0: #25282C;
  --fg1: #2B2A33;
  --fg2: #404854;
  --gld0: #41361D;
  --gld1: #AE9500;
  --gld2: #F7A600;
  --green: #20B26C;
  --red: #EF454A;
  --accent: #FFFFFF;
}
body {
	background-color: var(--bg0);
	text-color: var(--accent);
	font-family: monospace;
}

table {
	color: var(--gld1);
	padding: 12px;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
th, td {
  border-bottom: 1px solid var(--bg2);
  text-align: center;
}

tr:nth-child(even) {background-color: var(--bg0);}

.trdr {
	width: 600px;
	margin: 16px auto;
	font-size: 14px;
}

.trdr-header, .trdr p {
	margin-top: 0;
	margin-bottom: 0;
}

.trdr-triangle {
	width: 0;
	margin-right: auto;
	margin-left: auto;
	border: 12px solid transparent;
	border-bottom-color: var(--bg2);
}

.trdr-header {
	background: var(--bg2);
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	color: var(--gld1);
}

.trdr-container {
	background: var(--bg1);
	padding: 12px;
	display: inline-block;
	width: 96%;
}

.trdr p {
	padding: 12px;
	width: 96%;
}

.trdr a {
	text-align: center;
}

.trdr a:link, .trdr-wide a:link {
	text-decoration: none;
}

.trdr input, .trdr a {
	box-sizing: border-box;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 0.7rem;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
	color: var(--gld2);
}

.trdr input[type="email"], .trdr input[type="password"], .trdr a {
	border-color: (--gld0);
	color: var(--gld1);
}

.trdr input[type="email"]:focus, .trdr input[type="password"]:focus,
	.trdr a:focus {
	border-color: (--gld2);
}

.trdr input[type="submit"], .trdr input[type="button"], .trdr a {
	background: var(--fg1);
	border-color: transparent;
	color: var(--gld1);
	cursor: pointer;
}

.trdr label {
	color: var(--gld1);
}

.trdr input[type="submit"], .trdr input[type="button"], .trdr a {
	:hover { background:#C70039;}
}

.trdr input[type="submit"], .trdr input[type="button"], .trdr a {
	:focus { border-color:#FF5733;}
}