@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background-color: #900C3E;
	font-family: monospace;
}

table {
	display: block;
}

.theapp {
	width: 400px;
	margin: 16px auto;
	font-size: 16px;
}

.theapp-header, .theapp p {
	margin-top: 0;
	margin-bottom: 0;
}

.theapp-triangle {
	width: 0;
	margin-right: auto;
	margin-left: auto;
	border: 12px solid transparent;
	border-bottom-color: #571845;
}

.theapp-header {
	background: #571845;
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #FFC300;
}

.theapp-container {
	background: #900C3E;
	padding: 12px;
}

.theapp p {
	padding: 12px;
}

.theapp a {
	text-align: center;
}

.theapp a:link {
	text-decoration: none;
}

.theapp input, .theapp a {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 0.7rem;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
	color: #571845;
}

.theapp input[type="email"], .theapp input[type="password"], .theapp a {
	border-color: #571845;
	color: #571845;
}

.theapp input[type="email"]:focus, .theapp input[type="password"]:focus,
	.theapp a:focus {
	border-color: #C70039;
}

.theapp input[type="submit"], .theapp input[type="button"], .theapp a {
	background: #571845;
	border-color: transparent;
	color: #FFC300;
	cursor: pointer;
}

.theapp label {
	color: #FFC300;
}

.theapp input[type="submit"], .theapp input[type="button"], .theapp a {
	:hover { background:#C70039;
	
}

.theapp input[type="submit"], .theapp input[type="button"], .theapp a {
	:focus { border-color:#FF5733;
	
}