<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome to automated trading system</title>
<script src="js/angular-min.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-app="TraderApp" ng-controller="ExchangeController">
	<div sec:authorize="isAuthenticated()" ng-controller="getExchanges">
		<div class="trdr">
			<div class="trdr-triangle"></div>
			<p th:inline="text" class="trdr-header">Hello
				[[${#httpServletRequest.remoteUser}]]!</p>
			<div class="trdr-container">
				<table>
					<thead>
						<td>Exchange</td>
						<td>Assign</td>
					</thead>
					<tbody>
						<tr ng-repeat="exchange in exchanges">
							<td>{{exchange.name}}</td>
							<td><input type="button" value="assign"
								ng-disabled="assignment.active" ng-click="assign(exchange.id)" />
							</td>
						</tr>
					</tbody>
				</table>
				<form action="/sessions" class="trdr-container">
					<p><input type="submit" value="view sessions" /></p>
				</form>
				<form action="/logout" method="post" ng-if="isAnySubscription"
					class="trdr-container">
					<p><input type="submit" value="Logout" /></p>
				</form>
				<form sec:authorize="${hasAnyAuthority('TRADER')}"
					action="/trader/browse" class="trdr-container">
					<p><input type="submit" value="Go to Trader page" /></p>
				</form>
			</div>
		</div>
	</div>

	<div sec:authorize="isAnonymous()" ng-controller="getExchanges">
		<div class="trdr">
			<div class="trdr-triangle"></div>
			<h2 class="trdr-header">Welcome stranger</h2>
			<table>
				<thead><td>Exchange</td></thead>
				<tbody>
					<tr ng-repeat="exchange in exchanges">
						<td>{{exchange.name}}</td>
					</tr>
				</tbody>
			</table>
			<p><a href="/login">Login</a></p>
		</div>
	</div>
</body>
</html>

