<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Trader page</title>
<script src="/js/angular-min.js"></script>
<script src="/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body ng-app="TraderApp" ng-controller="BrowseController">
	<div class="trdr">
		<div class="trdr-triangle"></div>
		<p th:inline="text" class="trdr-header">Hello
			[[${#httpServletRequest.remoteUser}]]!</p>
		<ul class="topnav">
			<li>
				<form th:action="@{/}" method="get">
					<input type="submit" value="Back Home"  class="trdr-input"/>
				</form>
			</li>
			<li style="float:inline-start">
				<form action="/trader/trade">
					<input type="submit" value="Setup Trade" class="trdr-input"/>
				</form>
			</li>
			<li style="float:right">
				<form action="/logout" method="post">
					<input type="submit" value="Logout"  class="trdr-input"/>
				</form>
			</li>
		</ul>
		<div ng-controller="getSessions" style="overflow-x: auto;"
			class="trdr-container">
			<table>
				<thead>
					<tr>
						<td>Name</td>
						<td>Publisher</td>
						<td>Exchange</td>
						<td>Publish date</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="session in sessionList">
						<td>{{session.name}}</td>
						<td>{{session.traderUser.name}}</td>
						<td>{{session.exchange.name}}</td>
						<td>{{session.publishDate}}</td>
						<td><input type="button" value="stop"
							ng-click="delete(session.id)" /></td> 
						<td><input type="button"
							value="view" ng-click="view(session.id)" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>