<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Start Trade</title>
<script src="/js/angular-min.js"></script>
<script src="/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body ng-app="TraderApp">

	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>
	<div class="trdr" ng-controller="ExchangeController">
		<div class="trdr-triangle"></div>
		<p th:inline="text" class="trdr-header">Hello
			[[${#httpServletRequest.remoteUser}]]!</p>
		<div ng-controller="getExchanges" class="trdr-container">
			<form method="POST" enctype="multipart/form-data"
				action="/trader/trade">
				<p th:if="${param.error}">Invalid username and password.</p>
				<p th:if="${param.logout}">You have been logged out.</p>
				<p><select name="exchange" placeholder="Exchange">
					<option ng-repeat="option in exchanges" value="{{option.id}}">{{option.name}}</option>
				</select></p>
				<p><input value="Select File" type="file" name="file"
					accept="application/pdf" placeholder="Exchange credentials"/></p>
				<p><input type="text" name="name" placeholder="Assets"/></p>
				<p><input type="text" name="limits"  placeholder="Limits"/></p>
				<p><input type="button" value="Back"
					onclick="window.location.href='/trader/browse'" /></p>
				<p><input type="submit" value="Trade" /></p>
			</form>
		</div>
	</div>
</body>
</html>


